doctype html
html(lang='zh-cn')
  head
    meta(charset='UTF-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    h1.signtitle= title
    form.signform(action='/course/create', method='post')
      input#signinput(type="text" name="coursename")
      button#signsubmit.hw(type="submit") 创建