extends layout

block content
  if exist
    if user.role === 'teacher'
      include teacher.pug
  else
    include sign.pug
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/bootstrap-3.3.7-dist/js/bootstrap.min.js')
  script(src='/javascripts/bootstrap-notify.min.js')
  script(src='/javascripts/validator.js')
  script(src='/javascripts/sign.js')
  script(src='/javascripts/generqr.js')
  script(src='/javascripts/teastu.js')
