#teacher.container
  .row.clearfix
    .col-md-4.column
      .teacherbox
        h3
          | 二维码签到
        label(for='qrmsg') 创建课程名
        br
        a#generqr(href='#modal-container-41448', role='button', data-toggle='modal') 生成二维码
        div.inputbox
          input#qrmsg.modal-input(type='text')
        #modal-container-41448.modal.fade(role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                span.close(data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title
              .modal-body
                #qrsvg
              .modal-footer
                button.hw(data-dismiss='modal') 关闭
        a#signrecord.hw(href='/qr/record') 签到记录