* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 14px 微软雅黑, Helvetica, Arial, sans-serif;
	background: white;
	position: relative;
}





/*==============================================*/


/*登录注册表单响应式布局*/


/*==============================================*/

@media only screen and (max-width: 240px) {
	.signup-form {
		width: 100%;
		margin: 0 auto;
	}
	.col-xs-11.col-sm-4.alert {
		width: 90%;
	}
}

@media only screen and (min-width: 241px) and (max-width: 380px) {
	.signup-form {
		width: 80%;
		margin: 0 auto;
	}
	.col-xs-11.col-sm-4.alert {
		width: 70%;
	}
}

@media only screen and (min-width: 381px) and (max-width: 550px) {
	.signup-form {
		width: 60%;
		margin: 0 auto;
	}
	.col-xs-11.col-sm-4.alert {
		width: 50%;
	}
}

@media only screen and (min-width: 551px) and (max-width: 799px) {
	.signup-form {
		width: 40%;
		margin: 0 auto;
	}
	.col-xs-11.col-sm-4.alert {
		width: 35%;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
	.signup-form {
		width: 30%;
		margin: 0 auto;
	}
	.col-xs-11.col-sm-4.alert {
		width: 25%;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.signup-form {
		width: 25%;
		margin: 0 auto;
	}
	.col-xs-11.col-sm-4.alert {
		width: 20%;
	}
}

@media only screen and (min-width: 1601px) and (max-width: 2048px) {
	.signup-form {
		width: 20%;
		margin: 0 auto;
	}
	.col-xs-11.col-sm-4.alert {
		width: 15%;
	}
}





/*==============================================*/


/*header样式*/


/*==============================================*/

header {
	background-color: #303848;
	padding: 10px;
	font-size: 2em;
	margin-bottom: 10px;
	overflow: auto;
}

a#home {
	text-decoration: none;
	color: white;
}

a#signout,
span.welcome {
	float: right;
	color: white;
}

span.welcome {
	margin-right: 20px;
}





/*==============================================*/


/*此处更改notify的样式*/


/*==============================================*/

.col-xs-11.col-sm-4.alert {
	border: none;
	border-radius: 0;
}

a.navbar-brand:before {
	content: "\f008";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	margin-right: 0.4em;
}





/*==============================================*/


/*登录注册表单样式*/


/*==============================================*/

.switch-sign {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10px;
}

#signup-tab,
#signin-tab {
	text-align: center;
	border: 1px solid #777;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	margin-right: 10px;
}

#signup {
	display: none;
}

.form-horizontal .form-group {
	margin-right: 0;
	margin-left: 0;
}

.input-group {
	margin: 1em 0;
}

.input-group.register-radio {
	width: 100%;
}

.input-group.register-radio input {
	text-align: center;
}

.input-group.register-radio input:last-of-type {
	margin-left: 20px;
}

h3.signup-h3 {
	text-align: center;
}

span.input-group-addon {
	padding: 5px 6px;
}

input.form-control.input-signup {
	color: #000;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #777;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

span.input-group-addon {
	color: #000;
	background-color: rgba(238, 238, 238, 0);
	border: 1px solid #777;
}

.btn.btn-default.sign {
	margin: 0 auto;
	color: #000;
	background-color: rgba(255, 255, 255, 0);
	outline: none;
	cursor: pointer;
	transition-duration: 0.15s;
	border-color: #777;
}

form.form-horizontal {
	text-align: center;
}

.btn.btn-default.sign[type=reset] {
	margin-right: 1em;
}

.btn.btn-default.sign:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.error {
	color: red;
	text-align: left;
	display: none;
}

.inputRigth {
	background-image: url(../images/inputRigth.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

.inputError {
	background-image: url(../images/inputError.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}





/*==============================================*/


/*二维码签到样式*/


/*==============================================*/

.col-md-4.column {
	padding: 10px;
}

.teacherbox,
.studentbox {
	border: 1px solid #A2A2A2;
	border-radius: 10px;
	padding: 10px;
}

#qrsvg {
	width: 80vh;
	height: 80vh;
}

.inputbox {
	overflow: hidden;
	margin-bottom: 20px;
}

a#generqr {
	border: 1px solid #777;
	color: black;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	float: right;
	margin-left: 10px;
	text-decoration: none;
}

.modal-input {
	display: block;
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #777;
	border-radius: 4px;
	outline: none;
}

#teacher h3,
#student h3 {
	text-align: center;
	margin: 10px;
}

h1.signtitle {
	text-align: center;
	margin-top: 20px;
	font-size: 2em;
}

form.signform {
	width: 100%;
	padding: 2em;
	position: relative;
}

input#signinput {
	display: block;
	width: 100%;
	padding: 5px 10px;
	font-size: 2em;
	border: 1px solid #777;
	border-radius: 4px;
	outline: none;
	margin-bottom: 1em;
}

button#signsubmit {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 3em;
	height: 3em;
	font-size: 2em;
	border: 1px solid #777;
	color: black;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	background-color: transparent;
}

.sign-record-box {
	width: 80%;
	margin: 20px auto;
}

ul.sign-record-item {
	list-style: none;
	margin: 20px 0;
}

ul.sign-record-item li {
	display: none;
	border: 1px solid #777;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 5px;
}

ul.sign-record-item:first-of-type li {
	display: inline-block;
}

p.sign-record-date {
	width: 100%;
	padding: 10px 0;
	background-color: #B3B3B3;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	cursor: pointer;
}



/*==============================================*/


/*交作业样式*/


/*==============================================*/

.col-md-4.column {
	padding: 10px;
}

.studentbox {
	border: 1px solid #A2A2A2;
	border-radius: 10px;
	padding: 10px;
}

button.hw,
a.hw {
	color: white;
	border-radius: 2px;
	padding: 5px 10px;
	border: 1px solid #3ec9cb;
	cursor: pointer;
	outline: none;
	background-color: #3ec9cb;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	line-height: 1.5;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.hw {
	display: block;
	width: 100%;
}

button.hw:hover,
a.hw:hover {
	border: 1px solid #777;
	background-color: transparent;
	color: black;
	font-weight: normal;
}

#student h3 {
	text-align: center;
	margin: 10px;
}

a#teacher-create-class,
a#student-add-class {
	margin: 20px 0;
}

.classbox {
	border: 1px solid #777;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	overflow: auto;
	text-align: center;
}

.classbox h2 {
	margin: 0 0 20px 0;
}

h2.class-title {
	text-align: center;
}

.row.clearfix.tea-class-head {
	text-align: center;
}

a#teacher-create-hw {
	text-decoration: none;
	text-align: center;
	margin: 10px;
	outline: none;
	color: #4560D8;
}

input.modal-input[name=submithw] {
	outline: none;
}

textarea#hwmsg {
	max-width: 100%;
	min-width: 100%;
}

#hw-detail,
.stuclass {
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#hw-detail table,
.stuclass table {
	border-collapse: collapse;
}

#hw-detail table td,
#hw-detail table th,
.stuclass table td,
.stuclass table th {
	padding: .5em;
	border: 1px solid #ddd;
	text-align: center;
}

#hw-detail table input {
	width: 5em;
	padding: 5px 10px;
	border: 1px solid #777;
	border-radius: 4px;
	outline: none;
}